<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B3</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{305.0,326.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>A.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>A1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,87.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,87.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{66.0,87.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{71.0,233.0},{66.0,87.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>A2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{67.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{67.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{67.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{233.0,3.0},{67.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>A3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{66.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3.0,233.0},{66.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>A4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{66.0,84.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,84.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{66.0,84.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{139.0,233.0},{66.0,84.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>A6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{65.0,92.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{65.0,92.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{65.0,92.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{233.0,183.0},{65.0,92.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>A5.png</string>
            </array>
        </dict>
        <key>A7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{67.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{67.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{67.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{233.0,93.0},{67.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3.0,3.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
