<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>2.0.0-B3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{625.0,430.0}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>bigfoot_attack.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>bigfoot_attack1.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{129.0,109.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{129.0,109.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{129.0,109.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492.0,2.0},{129.0,109.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack2.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{129.0,109.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{129.0,109.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{129.0,109.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492.0,2.0},{129.0,109.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack3.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{132.0,187.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{132.0,187.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{132.0,187.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243.0,2.0},{132.0,187.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack4.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{113.0,187.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{113.0,187.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{113.0,187.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377.0,2.0},{113.0,187.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack5.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{210.0,108.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{210.0,108.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{210.0,108.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,289.0},{210.0,108.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack6.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{239.0,96.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{239.0,96.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{239.0,96.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,2.0},{239.0,96.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack7.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{219.0,96.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{219.0,96.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{219.0,96.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,191.0},{219.0,96.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack8.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{185.0,96.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{185.0,96.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{185.0,96.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,330.0},{185.0,96.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>bigfoot_attack9.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{175.0,96.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{175.0,96.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{175.0,96.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444.0,289.0},{175.0,96.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>made-with-zwoptex</key>
		<dict>
			<key>spriteSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{228.0,228.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,100.0},{228.0,228.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
