<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENEMIES</key>
	<array>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>treestump_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>treestump_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>110</integer>
				<key>X</key>
				<real>7000</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>treestump_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>treestump_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>110</integer>
				<key>X</key>
				<real>6900</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>treestump_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>treestump_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>110</integer>
				<key>X</key>
				<real>6700</real>
			</dict>
		</dict>
		<dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>20</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>PROJECTIONX</key>
			<dict>
				<key>DELAY</key>
				<string>10.0</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<real>1</real>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>bird</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>28</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>SPRITE_NAME</key>
			<string>bird</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>300</integer>
				<key>X</key>
				<real>5700</real>
			</dict>
		</dict>
		<dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>5</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>PROJECTIONX</key>
			<dict>
				<key>DELAY</key>
				<string>10.0</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<real>1</real>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>dog_run</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>28</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>SPRITE_NAME</key>
			<string>dog_run</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>5000</real>
			</dict>
		</dict>
		<dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>0</integer>
				<key>Forward</key>
				<false/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<false/>
			</dict>
			<key>PROJECTION</key>
			<dict>
				<key>REPEAT</key>
				<true/>
				<key>DELAY</key>
				<string>3</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<integer>5</integer>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>monkey</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>5</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>SPRITE_NAME</key>
			<string>monkey</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>350</integer>
				<key>X</key>
				<real>3800</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>mushroom_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>5</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mushroom_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>100</integer>
				<key>X</key>
				<real>1600</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>treestump_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>treestump_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>110</integer>
				<key>X</key>
				<real>3200</real>
			</dict>
		</dict>
	</array>
	<key>OBJECTS</key>
	<dict>
		<key>ITEMS</key>
		<array>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>380</integer>
				<key>X</key>
				<real>6300</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>380</integer>
				<key>X</key>
				<real>6200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>380</integer>
				<key>X</key>
				<real>6100</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>5000</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>4900</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>4800</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>4200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>3500</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>3400</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>3300</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>1</integer>
				<key>Y</key>
				<integer>300</integer>
				<key>X</key>
				<real>2200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>special</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>1800</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<integer>800</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<integer>890</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<integer>980</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
		</array>
		<key>PLATFORM</key>
		<dict>
			<key>PADDING</key>
			<integer>-12</integer>
			<key>SPRITE_NAME</key>
			<string>JungleTitleGround1</string>
			<key>POSITIONS</key>
			<array>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>6400</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>210</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>6200</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>210</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>6000</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>120</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>5400</real>
						<key>TIMES</key>
						<integer>25</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>12</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>3800</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>180</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2600</real>
						<key>TIMES</key>
						<integer>20</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>12</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2400</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>110</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<integer>2000</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>120</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>10.5</real>
						<key>TIMES</key>
						<integer>15</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>12</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2200</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>180</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>INFO</key>
	<dict>
		<key>KITTEH_FEET</key>
		<dict>
			<key>HEIGHT</key>
			<integer>14</integer>
			<key>WIDTH</key>
			<integer>23</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>X</key>
			<integer>40</integer>
		</dict>
		<key>BACKGROUND_COLOR</key>
		<dict>
			<key>b</key>
			<integer>231</integer>
			<key>g</key>
			<integer>183</integer>
			<key>r</key>
			<integer>153</integer>
		</dict>
		<key>BACKGROUND_MUSIC</key>
		<string>JungleVibes.mp3</string>
		<key>BACKGROUND_REPEAT</key>
		<integer>3</integer>
		<key>LEVEL_BACKGROUND</key>
		<string>Jungle_Background.png</string>
		<key>SPEED</key>
		<real>50.1</real>
		<key>NAME</key>
		<string>FOREST</string>
		<key>END</key>
		<real>8000</real>
	</dict>
</dict>
</plist>
