<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENEMIES</key>
	<array>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>guyintruck_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>5</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>guyintruck_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>120</integer>
				<key>X</key>
				<real>4300</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>bully</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>bully</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>85</integer>
				<key>X</key>
				<real>3800</real>
			</dict>
		</dict>
		<dict>
			<key>PROJECTIONX</key>
			<dict>
				<key>DELAY</key>
				<string>10.0</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<real>1</real>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mottomonkey_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>2</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mottomonkey_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>120</integer>
				<key>X</key>
				<real>2400</real>
			</dict>
		</dict>
		<dict>
			<key>PROJECTIONX</key>
			<dict>
				<key>DELAY</key>
				<string>10.0</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<real>1</real>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>bird</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>15</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>bird</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>300</integer>
				<key>X</key>
				<real>2850</real>
			</dict>
		</dict>
		<dict>
			<key>PROJECTIONX</key>
			<dict>
				<key>DELAY</key>
				<string>10.0</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<real>1</real>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mottomonkey_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>2</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mottomonkey_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>120</integer>
				<key>X</key>
				<real>1600</real>
			</dict>
		</dict>
		<dict>
			<key>PROJECTIONX</key>
			<dict>
				<key>DELAY</key>
				<string>10.0</string>
				<key>DIRECTION</key>
				<string>FORWARD</string>
				<key>SPEED</key>
				<real>1</real>
				<key>SPRITE</key>
				<string>banana.png</string>
			</dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mottomonkey_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>-12</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>4</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mottomonkey_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>120</integer>
				<key>X</key>
				<real>2900</real>
			</dict>
		</dict>
	</array>
	<key>OBJECTS</key>
	<dict>
		<key>ITEMS</key>
		<array>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>80</integer>
				<key>X</key>
				<integer>750</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>80</integer>
				<key>X</key>
				<integer>800</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>150</integer>
				<key>X</key>
				<integer>850</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>60</integer>
				<key>X</key>
				<real>3400</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>90</integer>
				<key>X</key>
				<real>3200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>90</integer>
				<key>X</key>
				<real>3150</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>90</integer>
				<key>X</key>
				<real>3100</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>220</integer>
				<key>X</key>
				<real>2800</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>220</integer>
				<key>X</key>
				<real>2750</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>220</integer>
				<key>X</key>
				<real>2700</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>60</integer>
				<key>X</key>
				<real>2400</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>90</integer>
				<key>X</key>
				<real>1050</real>
				<key>Scale</key>
				<integer>1</integer>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>330</integer>
				<key>X</key>
				<real>1400</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
		</array>
		<key>PLATFORM</key>
		<dict>
			<key>PADDING</key>
			<integer>-12</integer>
			<key>SPRITE_NAME</key>
			<string>Tile</string>
			<key>POSITIONS</key>
			<array>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>3500</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>120</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>130</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2600</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>120</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>130</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2400</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>120</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>230</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2200</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>130</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>130</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>1400</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>280</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>1200</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>210</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>1000</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>140</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>10.5</real>
						<key>TIMES</key>
						<integer>50</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>12</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>INFO</key>
	<dict>
		<key>BACKGROUND_MUSIC</key>
		<string>UnnaturalSelection.mp3</string>
		<key>KITTEH_FEET</key>
		<dict>
			<key>HEIGHT</key>
			<integer>14</integer>
			<key>WIDTH</key>
			<integer>23</integer>
			<key>Y</key>
			<integer>-20</integer>
			<key>X</key>
			<integer>40</integer>
		</dict>
		<key>BACKGROUND_COLOR</key>
		<dict>
			<key>b</key>
			<integer>231</integer>
			<key>g</key>
			<integer>183</integer>
			<key>r</key>
			<integer>153</integer>
		</dict>
		<key>BACKGROUND_REPEAT</key>
		<integer>2</integer>
		<key>LEVEL_BACKGROUND</key>
		<string>City_Background.png</string>
		<key>SPEED</key>
		<real>50.1</real>
		<key>NAME</key>
		<string>CITY</string>
		<key>END</key>
		<real>5000</real>
	</dict>
</dict>
</plist>
