<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OBJECTS</key>
	<dict>
		<key>ITEMS</key>
		<array>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>5800</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>5000</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>380</integer>
				<key>X</key>
				<real>6300</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>380</integer>
				<key>X</key>
				<real>6200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>380</integer>
				<key>X</key>
				<real>6100</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>5000</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>4900</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>4800</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>4200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>3500</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>3400</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>3300</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>1</integer>
				<key>Y</key>
				<integer>200</integer>
				<key>X</key>
				<real>1200</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>special</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>2</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<real>1800</real>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>smallKitteh</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<integer>800</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<integer>890</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
			<dict>
				<key>Destory</key>
				<true/>
				<key>Type</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>170</integer>
				<key>X</key>
				<integer>980</integer>
				<key>Scale</key>
				<real>1</real>
				<key>SpriteName</key>
				<string>coin</string>
			</dict>
		</array>
		<key>PLATFORM</key>
		<dict>
			<key>PADDING</key>
			<integer>-12</integer>
			<key>SPRITE_NAME</key>
			<string>JungleTitleGround1</string>
			<key>POSITIONS</key>
			<array>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<integer>5500</integer>
						<key>TIMES</key>
						<integer>5</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>130</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>2300</real>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>150</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
				<dict>
					<key>X</key>
					<dict>
						<key>START</key>
						<real>10.5</real>
						<key>TIMES</key>
						<integer>66</integer>
						<key>PADDING</key>
						<integer>40</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
					<key>Y</key>
					<dict>
						<key>START</key>
						<integer>12</integer>
						<key>TIMES</key>
						<integer>1</integer>
						<key>PADDING</key>
						<integer>0</integer>
						<key>HAS_RANGE</key>
						<string>TRUE</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>ENEMIES</key>
	<array>
		<dict>
			<key>New item</key>
			<dict>
				<key>GRAVITY</key>
				<true/>
				<key>ACTIONS</key>
				<array>
					<string>bird</string>
				</array>
				<key>FEET</key>
				<dict>
					<key>HEIGHT</key>
					<integer>13</integer>
					<key>WIDTH</key>
					<integer>23</integer>
					<key>Y</key>
					<integer>20</integer>
					<key>X</key>
					<integer>40</integer>
				</dict>
				<key>MOVE</key>
				<dict>
					<key>Gravity</key>
					<false/>
					<key>Speed</key>
					<integer>10</integer>
					<key>Forward</key>
					<true/>
					<key>Direction</key>
					<integer>0</integer>
					<key>TriggerOnPosition</key>
					<true/>
				</dict>
				<key>SPRITE_NAME</key>
				<string>bird</string>
				<key>LOCATION</key>
				<dict>
					<key>Y</key>
					<integer>200</integer>
					<key>X</key>
					<integer>7400</integer>
				</dict>
			</dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mushroom_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mushroom_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>7200</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>trunk_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>trunk_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>130</integer>
				<key>X</key>
				<real>6400</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mushroom_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mushroom_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>5300</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mushroom_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mushroom_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>5100</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mushroom_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mushroom_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>4800</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>bird</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>bird</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>200</integer>
				<key>X</key>
				<real>4100</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>mushroom_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>mushroom_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>4000</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<false/>
			<key>ACTIONS</key>
			<array>
				<string>cerebes_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>cerebes_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>70</integer>
				<key>X</key>
				<real>3700</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>trunk_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>trunk_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>130</integer>
				<key>X</key>
				<real>3100</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>bird</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<false/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>bird</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>200</integer>
				<key>X</key>
				<real>2700</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>husky_walk</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>10</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>husky_walk</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>65</integer>
				<key>X</key>
				<real>1900</real>
			</dict>
		</dict>
		<dict>
			<key>GRAVITY</key>
			<true/>
			<key>ACTIONS</key>
			<array>
				<string>dog_run</string>
			</array>
			<key>FEET</key>
			<dict>
				<key>HEIGHT</key>
				<integer>13</integer>
				<key>WIDTH</key>
				<integer>23</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>X</key>
				<integer>40</integer>
			</dict>
			<key>MOVE</key>
			<dict>
				<key>Gravity</key>
				<true/>
				<key>Speed</key>
				<integer>20</integer>
				<key>Forward</key>
				<true/>
				<key>Direction</key>
				<integer>0</integer>
				<key>TriggerOnPosition</key>
				<true/>
			</dict>
			<key>SPRITE_NAME</key>
			<string>dog_run</string>
			<key>LOCATION</key>
			<dict>
				<key>Y</key>
				<integer>65</integer>
				<key>X</key>
				<real>1500</real>
			</dict>
		</dict>
	</array>
	<key>INFO</key>
	<dict>
		<key>BACKGROUND_MUSIC</key>
		<string>BusyPortTown.mp3</string>
		<key>KITTEH_FEET</key>
		<dict>
			<key>HEIGHT</key>
			<integer>14</integer>
			<key>WIDTH</key>
			<integer>23</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>X</key>
			<integer>40</integer>
		</dict>
		<key>BACKGROUND_COLOR</key>
		<dict>
			<key>b</key>
			<integer>231</integer>
			<key>g</key>
			<integer>183</integer>
			<key>r</key>
			<integer>153</integer>
		</dict>
		<key>BACKGROUND_REPEAT</key>
		<integer>3</integer>
		<key>LEVEL_BACKGROUND</key>
		<string>Town_Background.png</string>
		<key>SPEED</key>
		<real>50.1</real>
		<key>NAME</key>
		<string>TOWN</string>
		<key>END</key>
		<real>8000</real>
	</dict>
</dict>
</plist>
