<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>2.0.0-B3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{269.0,234.0}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>smallsnowman_idle.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>made-with-zwoptex</key>
		<dict>
			<key>spriteSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{228.0,228.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,2.0},{228.0,228.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>smallsnowman_idle1.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{33.0,42.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{33.0,42.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{33.0,42.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,2.0},{33.0,42.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>smallsnowman_idle2.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{33.0,42.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{33.0,42.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{33.0,42.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,46.0},{33.0,42.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array>
				<string>smallsnowman_idle3.png</string>
			</array>
		</dict>
		<key>smallsnowman_idle4.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{33.0,42.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{33.0,42.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{33.0,42.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,90.0},{33.0,42.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
